<!-- Este es un comentario -->

{% extends "layout.html"%}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hola tripulantes!</h1>
    <p class="lead">En esta página web han de encontrar los enunciados y las soluciones de los retos,
        a medida que vayamos progresando en el curso les estaré mostrando por este medio la solución de cada uno de los
        retos para que
        ustedes puedan ayudarse y ver la diferencia con el código que ustedes mismos implementaron para cada uno de
        los retos que les tocó.
    </p>
</div>
{% endblock %}